@import "../../../shared/colors/colors.scss";
@import "../../../shared/fonts/fonts.scss";
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import "../../../shared/mixins/mixins.scss";

.section {
    background: rgba(0, 0, 0, 0.233);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1.4em;
    padding: 2em 0% 2em 14%;
    transition: all .3s ease;
    &--active {
        padding: 3em 0% 2em 14%;
    }

    &__vertical-title {
        display: none;
        position: relative;
        margin-left: 5em;
        &--active {
            display: inline-block;
        }
    }
    &__vertical-letter {
        font-family: $tertiaryFont;
        font-size: 8em;
        line-height: .8em;
        color: rgba(255, 255, 255, 0.762);
    }


    .section__info {
        position: relative;
        width: 22em;
        min-width: 22em;

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 7vw;
        transition: opacity 0.1s ease;

        &--hidden {
            opacity: 0;
            pointer-events: none;
        }

        .section__title {
            font-family: "Permanent Marker", cursive;
            font-size: 2.3em;
            margin-block-end: 0.3em;
            margin-block-start: 0px;
        }
        .section__description {
            font-size: 0.9em;
            font-family: $secondaryFont;
            margin-block-start: 0px;
            margin-block-end: 1.3em;
        }
        .section__tags {
            .section__tag {
                display: inline-block;
                font-family: $secondaryFont;
                border: 1px solid $colorFour;
                border-radius: 0.3em;
                padding: 4px 10px;
                font-size: 0.8em;
                margin-right: 11px;
                margin-bottom: 1em;
            }
        }

        .section__buttons {
            margin: 8px 0px;
            .live-demo {
                font-family: $secondaryFont;
                font-weight: bolder;
                border: none;
                background: $colorSix;
                padding: 6px 12px;
                border-radius: 0.3em;
                font-size: 0.9em;
                margin-right: 1em;
                cursor: pointer;
            }
            .view-source {
                font-family: $secondaryFont;
                font-weight: bolder;
                border: none;
                background: rgb(0, 0, 0);
                padding: 6px 12px;
                border-radius: 0.3em;
                color: $colorSix;
                font-size: 0.9em;
                cursor: pointer;
            }
        }
    }
}
