@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
.section {
  background: rgba(0, 0, 0, 0.233);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 4em;
  padding: 2em 14% 2em 14%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  opacity: 0;
  -webkit-animation: pop-in-left .8s ease .7s forwards;
          animation: pop-in-left .8s ease .7s forwards;
}

.section__vertical-title {
  display: none;
  position: relative;
  margin-left: 5em;
}

.section__vertical-title--active {
  display: inline-block;
}

.section__vertical-letter {
  font-family: "Permanent Marker", cursive;
  font-size: 8em;
  line-height: 0.8em;
  color: rgba(255, 255, 255, 0.762);
}

.section .section__info {
  position: relative;
  width: 22em;
  min-width: 22em;
  margin-left: 7vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.section .section__info--hidden {
  opacity: 0;
  pointer-events: none;
}

.section .section__info .section__title {
  font-family: "Permanent Marker", cursive;
  font-size: 2.4em;
  -webkit-margin-after: 0.3em;
          margin-block-end: 0.3em;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

.section .section__info .section__description {
  font-size: 0.9em;
  font-family: "Roboto Slab", serif;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 1.3em;
          margin-block-end: 1.3em;
  line-height: 1.6em;
}

.section .section__info .section__tags .section__tag {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  border: 1px solid #5628EE;
  border-radius: 0.3em;
  padding: 4px 10px;
  font-size: 0.8em;
  margin-right: 11px;
  margin-bottom: 1em;
}

.section .section__info .section__buttons {
  margin: 8px 0px;
}

.section .section__info .section__buttons .live-demo {
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  border: none;
  background: #EDB82F;
  padding: 6px 12px;
  border-radius: 0.3em;
  font-size: 0.9em;
  margin-right: 1em;
  cursor: pointer;
}

.section .section__info .section__buttons .view-source {
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  border: none;
  background: black;
  padding: 6px 12px;
  border-radius: 0.3em;
  color: #EDB82F;
  font-size: 0.9em;
  cursor: pointer;
}

.section:nth-of-type(1) {
  margin-top: 2em;
}

@media screen and (max-width: 700px) {
  .section {
    margin-top: 2em;
    padding: 3em 14% 3em 14%;
  }
  .section .section__info {
    margin-left: 0vw;
    width: 100%;
    min-width: 0em;
  }
  .slider {
    display: none;
  }
}
/*# sourceMappingURL=Project.css.map */