@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap');

// $primaryFont: 'Permanent Marker', cursive;
$primaryFont: 'Titillium Web', sans-serif;
$secondaryFont: 'Roboto Slab', serif;
$tertiaryFont: 'Permanent Marker', cursive;