@import "../../shared/colors/colors.scss";
@import "../../shared/mixins/mixins.scss";
@import "../../shared/fonts//fonts.scss";

.temp-view {
    // background-color: $colorOne;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    color: $colorTwo;
    padding: 3.5em;
    box-sizing: border-box;
    @include flex-centered(column);

    .clickable {
        display: inline-block;
        cursor: pointer;
        transform: rotate3d(1, 0, 0, 180deg);
    }
    #link-one {
        animation: twist-back 1s ease-in 1.5s forwards;
    }
    #link-two {
        animation: twist-back 1s ease-in 1.6s forwards;
    }
    #link-three {
        animation: twist-back 1.3s ease-in 1.7s forwards;
    }
    .hover-one {
        :hover {
            color: pink;
        }
    }

    h1 {
        font-family: $primaryFont;
        margin-block-end: 0.1em;
        animation: pop-in 0.25s ease-in 0.5s forwards;
        opacity: 0;
    }
    .temp-view__description {
        margin-block-start: 0.5em;
        font-family: $secondaryFont;
        max-width: 38em;
        font-size: 1.1em;
        line-height: 1.7em;

        .description__one {
            opacity: 0;
            animation: fall-in-left 0.3s ease-in 1s forwards;
        }
        .description__two {
            opacity: 0;
            animation: fall-in-left 0.3s ease-in 1.1s forwards;
        }
        .description__three {
            opacity: 0;
            animation: fall-in-left 0.3s ease-in 1.2s forwards;
        }
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    99% {
        transform: scale(1.025);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fall-in-left {
    0% {
        transform: translate(-0.25em, -0.25em);
        opacity: 0;
    }
    100% {
        transform: translate(0em, 0em);
        opacity: 1;
    }
}

@keyframes twist-back {
    0% {
        transform: rotate3d(1, 0, 0, 180deg);
    }
    100% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
}
