@import "../../shared/colors/colors.scss";
@import "../../shared/mixins/mixins.scss";
@import "../../shared/fonts//fonts.scss";

.temp-view {
    background: $colorOne;
    position: fixed;
    height: 100vh;
    width: 100vw;
    color: $colorTwo;
    @include flex-centered(column);


    .link {
        cursor: pointer;
    }

    h1 {
        font-family: $primaryFont;
        margin-block-end: .1em;
    }
    p {
        margin-block-start: .5em;
        font-family: $secondaryFont;
        max-width: 38em;
        font-size: 1.1em;
        line-height: 1.7em;
        
    }
}
