@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
.landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #272727;
  color: #DCDCDD;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing__head {
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
}

.landing__head-wrapper {
  position: absolute;
  bottom: 0px;
  height: 70%;
  opacity: .4;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#landing-header {
  position: relative;
  z-index: 1;
  font-size: 7vw;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  line-height: 1.7em;
  -webkit-animation: zoomInDown 1.5s ease-in-out;
          animation: zoomInDown 1.5s ease-in-out;
}

#landing-subtext {
  position: relative;
  z-index: 1;
  line-height: 2em;
  font-size: 4vw;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  width: 80%;
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #c2c2c2;
  font-weight: lighter;
}

#landing-subtext a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#landing-subtext a:hover {
  color: black;
}

.thoughts-container {
  position: absolute;
  z-index: 1;
  width: 100vw;
  top: 0px;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.underline--magical {
  background-image: linear-gradient(120deg, #5628EE 0%, rgba(173, 216, 230, 0) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
  -webkit-transition: background-size 0.15s ease-in;
  transition: background-size 0.15s ease-in;
  cursor: pointer;
}

.underline--magical:hover {
  background-image: linear-gradient(120deg, #5628EE 0%, #DCDCDD 100%);
  background-size: 100% 88%;
}

.underline--magical--bears {
  background-image: linear-gradient(120deg, rgba(173, 216, 230, 0.658) 0%, rgba(255, 217, 0, 0) 100%);
}

.underline--magical--bears:hover {
  background-image: linear-gradient(120deg, rgba(133, 203, 226, 0.945) 0%, rgba(255, 217, 0, 0.788) 100%);
}

.underline--magical--compressed {
  background-size: 0% 0.2em;
}

.underline--magical--expanded {
  background-size: 100% 0.2em;
}

.fadeInUp {
  opacity: 0;
  -webkit-animation: fadeInUp 0.7s ease-in 3s forwards;
          animation: fadeInUp 0.7s ease-in 3s forwards;
}

.letter {
  opacity: 1;
}

.subtext-line {
  display: inline-block;
  opacity: 0;
}

.landing__html {
  position: absolute;
  background: transparent;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing__html--active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.bob {
  -webkit-animation: bob 3s linear infinite;
          animation: bob 3s linear infinite;
}

.fa-code {
  font-size: 40em;
  color: rgba(0, 0, 0, 0.084);
}

@-webkit-keyframes typed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  30% {
    -webkit-transform: translate(0%, 0.5%);
            transform: translate(0%, 0.5%);
  }
  70% {
    -webkit-transform: translate(0%, -0.5%);
            transform: translate(0%, -0.5%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes bob {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  30% {
    -webkit-transform: translate(0%, 0.5%);
            transform: translate(0%, 0.5%);
  }
  70% {
    -webkit-transform: translate(0%, -0.5%);
            transform: translate(0%, -0.5%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@media screen and (min-width: 600px) {
  #landing-header {
    font-size: 3.2em;
  }
  #landing-subtext {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 430px) {
  .landing__head--wrapper {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}
/*# sourceMappingURL=Landing.css.map */