@import "../../shared/mixins/mixins.scss";
@import "../../shared/fonts/fonts.scss";
@import "../../shared/colors/colors.scss";

.landing {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: $colorOne;
    color: $colorTwo;
    overflow: hidden;
    @include flex-centered(column);
}

.landing__head {
    position: absolute;
    bottom: 0px;
    height: 70%;
    transform: translateX(5%);
    object-fit: cover;
    z-index: 0;
}

#landing-header {
    position: relative;
    z-index: 1;
    font-size: 7vw;
    margin-block-end: 0px;
    margin-block-start: 0px;
    line-height: 1.7em;
    // letter-spacing: 1px;
}

#landing-subtext {
    position: relative;
    z-index: 1;
    line-height: 2em;
    font-size: 4vw;
    margin-block-end: 0px;
    margin-block-start: 0px;
    width: 80%;
    text-align: center;
    font-family: $secondaryFont;
    color: rgb(194, 194, 194);
    font-weight: lighter;

    a {
        color: inherit;
        text-decoration: none;
        // -webkit-text-stroke-width: 1px;
        letter-spacing: 1px;
        transition: all .2s ease-in;
        &:hover {
            color: black;
        }
    }
}


@media screen and (min-width: 600px) {
    #landing-header {
        font-size: 3.2em;
    }
    #landing-subtext {
        font-size: 1.3em;
    }
}

.thoughts-container {
    position: absolute;
    z-index: 1;
    width: 100vw;
    top: 0px;
    height: 30%;
    @include flex-centered(column);
}

.underline--magical {
    background-image: linear-gradient(120deg, $colorFour 0%, rgba(173, 216, 230, 0) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(120deg, $colorFour 0%, $colorTwo 100%);
      background-size: 100% 88%;
    }
  }

  .underline--magical--bears {
    background-image: linear-gradient(120deg, rgba(173, 216, 230, 0.658) 0%, rgba(255, 217, 0, 0) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(120deg, rgba(133, 203, 226, 0.945) 0%, rgba(255, 217, 0, 0.788) 100%);
      background-size: 100% 88%;
    }
  }
  
  