@import "../../shared/colors/colors.scss";

.nav-icon {
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 100;
    margin: 1em;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav-icon__line-1,
.nav-icon__line-3,
.nav-icon__line-2 {
    pointer-events: none;
    background-color: $colorTwo;
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    margin: 7px 0;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.line-one-toggled {
    transform: translateY(9px) rotate(135deg);
}
.line-two-toggled {
    transform: scale(0);
}
.line-three-toggled {
    transform: translateY(-9px) rotate(-135deg);
}
.pre {
    transform: translateX(200%);
    opacity: 0;
}
