@import "../../shared/fonts/fonts.scss";
@import "../../shared/colors/colors.scss";
@import "../../shared/mixins/mixins.scss";

.navButton {
    // border: 1px solid white;
    position: absolute;
    z-index: 5;
    width: 100px;

    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;

    &-right {
        right: 0px;
    }
    &-left {
        left: 0px;
    }

    .navButton__text {
        position: relative;
        display: inline-block;
        opacity: 0;
        pointer-events: none;
        font-family: $primaryFont;
        color: rgb(168, 168, 168);
        letter-spacing: 1px;
        transition: all 0.1s ease-in;
        &--right {
            transform: translateX(-55%);
        }
        &--left {
            transform: translateX(55%);
        }
    }

    @media screen and (max-width: 950px) {
        .navButton__text {
            display: none;
        }
    }
}

.arrow {
    cursor: pointer;
    height: 300px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 80px;

    @include flex-centered(row);

    &:hover {
        .arrow-top--right {
            transform: rotate(60deg);
        }
        .arrow-bottom--right {
            transform: rotate(-60deg);
        }
        .arrow-top--left {
            transform: rotate(60deg) translateY(-2px);
        }
        .arrow-bottom--left {
            transform: rotate(-60deg) translateY(2px);
        }
        .navButton__text--right {
            opacity: 1;
            transform: translateX(-90%);
        }
        .navButton__text--left {
            opacity: 1;
            transform: translateX(90%);
        }
    }

    $transition-time: 0.15s;

    &-top,
    &-bottom {
        background-color: #666;
        height: 2px;
        position: absolute;
        top: 50%;
        width: 50%;
        transition: transform 0.1s;

        &:after {
            background-color: #fff;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: all $transition-time;
        }
    }

    &-top--right {
        transform: rotate(45deg);
        transform-origin: bottom right;
    }

    &-bottom--right {
        transform: rotate(-45deg);
        transform-origin: top right;
    }

    &-top--left {
        transform: rotate(45deg) translateY(-1px);
        transform-origin: bottom left;
    }
    &-bottom--left {
        transform: rotate(-45deg) translateY(1px);
        transform-origin: top left;
    }

    &-top--right,
    &-bottom--right {
        left: 5px;
    }
    &-top--left,
    &-bottom--left {
        right: 5px;
    }
}

@media screen and (max-width: 700px) {
    .navButton {
        display: none;
    }
}

a {
    text-decoration: none;
}

.rightNavPopIn {
    animation: rightNavPopIn 1.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.leftnavPopIn {
    animation: leftNavPopIn 1.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes rightNavPopIn {
    0% {
        transform: translateX(100%);
    }
    80% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes leftNavPopIn {
    0% {
        transform: translateX(-100%);
    }
    80% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
