@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap");
.navButton {
  position: fixed;
  z-index: 0;
  width: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navButton-right {
  right: 0px;
}

.navButton-left {
  left: 0px;
}

.navButton--invisible {
  opacity: 0;
  pointer-events: none;
}

.navButton .navButton__text {
  position: relative;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  font-family: "Titillium Web", sans-serif;
  color: #a8a8a8;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navButton .navButton__text--right {
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
}

.navButton .navButton__text--left {
  -webkit-transform: translateX(55%);
          transform: translateX(55%);
}

@media screen and (max-width: 950px) {
  .navButton .navButton__text {
    display: none;
  }
}

.arrow {
  cursor: pointer;
  height: 300px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  width: 80px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.arrow:hover .arrow-top--right {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.arrow:hover .arrow-bottom--right {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.arrow:hover .arrow-top--left {
  -webkit-transform: rotate(60deg) translateY(-2px);
          transform: rotate(60deg) translateY(-2px);
}

.arrow:hover .arrow-bottom--left {
  -webkit-transform: rotate(-60deg) translateY(2px);
          transform: rotate(-60deg) translateY(2px);
}

.arrow:hover .navButton__text--right {
  opacity: 1;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

.arrow:hover .navButton__text--left {
  opacity: 1;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

.arrow-top, .arrow-bottom {
  background-color: #666;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 50%;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.arrow-top:after, .arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.arrow-top--right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.arrow-bottom--right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.arrow-top--left {
  -webkit-transform: rotate(45deg) translateY(-1px);
          transform: rotate(45deg) translateY(-1px);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.arrow-bottom--left {
  -webkit-transform: rotate(-45deg) translateY(1px);
          transform: rotate(-45deg) translateY(1px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.arrow-top--right, .arrow-bottom--right {
  left: 5px;
}

.arrow-top--left, .arrow-bottom--left {
  right: 5px;
}

@media screen and (max-width: 700px) {
  .navButton {
    opacity: 0;
    pointer-events: none;
  }
}

a {
  text-decoration: none;
}

.rightNavPopIn {
  -webkit-animation: rightNavPopIn 1.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
          animation: rightNavPopIn 1.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.leftnavPopIn {
  -webkit-animation: leftNavPopIn 1.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
          animation: leftNavPopIn 1.9s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@-webkit-keyframes rightNavPopIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rightNavPopIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes leftNavPopIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes leftNavPopIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*# sourceMappingURL=Arrow.css.map */