@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
.temp-view {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  color: #DCDCDD;
  padding: 3.5em;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.temp-view .clickable {
  display: inline-block;
  cursor: pointer;
}

.temp-view .hover-one :hover {
  color: pink;
}

.temp-view h1 {
  font-family: "Fjalla One", sans-serif;
  -webkit-margin-after: 0.1em;
          margin-block-end: 0.1em;
  opacity: 1;
}

.temp-view .temp-view__description {
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  font-family: "Noto Sans", sans-serif;
  max-width: 38em;
  font-size: 1.1em;
  line-height: 1.7em;
}

.temp-view .temp-view__description .description__one {
  opacity: 1;
}

.temp-view .temp-view__description .description__two {
  opacity: 1;
}

.temp-view .temp-view__description .description__three {
  opacity: 1;
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  99% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  99% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fall-in-left {
  0% {
    -webkit-transform: translate(-0.25em, -0.25em);
            transform: translate(-0.25em, -0.25em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em, 0em);
            transform: translate(0em, 0em);
    opacity: 1;
  }
}

@keyframes fall-in-left {
  0% {
    -webkit-transform: translate(-0.25em, -0.25em);
            transform: translate(-0.25em, -0.25em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em, 0em);
            transform: translate(0em, 0em);
    opacity: 1;
  }
}

@-webkit-keyframes twist-back {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, 180deg);
            transform: rotate3d(1, 0, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
}

@keyframes twist-back {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, 180deg);
            transform: rotate3d(1, 0, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
}

@-webkit-keyframes move-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes move-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=About.css.map */