@import "../../shared/mixins/mixins.scss";

.cloud {
    position: relative;
    height: 100%;
    width: 50%;
    @include flex-centered(column);
    justify-content: center;
    
    .parts-container {
        position: relative;
        // left: 30%;
        height: 115px;
        @include flex-centered(column);
        animation: cloud-bob 3s linear infinite;

        .cloud-part {
            position: absolute;
            width: 115px;
            height: 12vh;
            border-radius: 50%;
            background: black;
        }
        .one {
            transform: translateX(-90%);
        }
        .two {
            transform: translateX(-25%);
        }
        .three {
            transform: translateX(25%);
        }
        .four {
            transform: translateX(90%);
        }
        .five {
            transform: translate(-50%, -25%);
        }
        .six {
            transform: translate(50%, -25%);
        }
        .seven {
            transform: translate(0%, -40%);
        }
        .eight {
            transform: translate(-50%, 25%);
        }
        .nine {
            transform: translate(50%, 25%);
        }
        .ten {
            transform: translate(0%, 35%);
        }

        @media screen and (min-width: 700px) {
            .cloud-part {
                width: 115px;
                height: 12vh;
            }
        }
    }
}

.tail {
    position: absolute;
    z-index: 999;

    bottom: 3%;
    right: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;

    

    .tail-one {
        height: 2.5vh;
        width: 2.5vh;
        border-radius: 20em;
        background: black;
        animation: tail-bob 3s linear 0.7s infinite;
    }
    .tail-two {
        position: relative;
        top: 0.7vh;
        height: 1.5vh;
        width: 1.5vh;
        right: 1vh;
        border-radius: 20em;
        background: black;
        animation: tail-bob 3s linear 0.3s infinite;
    }
}

#construction {
    position: absolute;
    z-index: 10000;
    text-align: center;
    letter-spacing: 8px;
    top: 10%;

}

@media screen and (min-width: 1000px) {
    .tail {
        right: 35%;
    }
}

@keyframes cloud-bob {
    0% {
        transform: translate(0%, 0%);
    }
    30% {
        transform: translate(0%, -3%);
    }
    70% {
        transform: translate(0%, 3%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes tail-bob {
    0% {
        transform: translate(0%, 0%);
    }
    30% {
        transform: translate(5%, -10%);
    }
    70% {
        transform: translate(-5%, 10%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
