.container {
    position: absolute;
    z-index: 200;
    left: 0%;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
}

.link {
    position: relative;
    height: 55px;
    width: 55px;
    cursor: pointer;
    opacity: 0;
}


@keyframes pop-in-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: row;
        bottom: 3.5%;
        transform: translateY(0%);
    }
    .link {
        height: 50px;
        width: 50px;
    }
}
