.container {
    position: absolute;
    z-index: 200;
    left: 0%;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;

    &__button {
        height: 60px;
        width: 100px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateX(-40%);

        &:hover {
            cursor: pointer;
            transform: translateX(-20%);
        }
        &--facebook {
            background: #3b5998;
            transform: translateX(-100%);
        }
        &--linkedIn {
            background: #0072b1;
            transform: translateX(-100%);
        }
        &--github {
            background: #24292e;
            transform: translateX(-100%);
        }
        &--instagram {
            background: radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
            );
            transform: translateX(-100%);
        }

        .icon {
            position: relative;
            left: 20px;
        }

        #facebook {
            color: white;
            font-size: 2.6em;
        }
        #linkedIn {
            color: white;
            font-size: 2.6em;
        }
        #github {
            color: white;
            font-size: 2.6em;
        }
        #instagram {
            color: white;
            font-size: 2.6em;
        }
    }
}

.link {
    position: relative;
    height: 65px;
    width: 65px;
    cursor: pointer;
    opacity: 1;
}
.popped-in {
    transform: translateX(-40%);
}

@keyframes pop-in-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: row;
        bottom: 3.5%;
        transform: translateY(0%);

        &__button {
            width: 60px;
            transform: translateX(0%);
            &:hover {
                transform: translateX(0%);
            }
        }
        .icon {
            left: 0px;
        }
    }
}

@media screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: row;
        bottom: 3.5%;
        transform: translateY(0%);

        &__button {
            width: 50px;
            height: 50px;
            transform: translateX(0%);
            &:hover {
                transform: translateX(0%);
            }
        }
        .icon {
            left: 0px;
            transition: all .3s ease;
        }
        #facebook {
            font-size: 1.6em;
        }
        #linkedIn {
            font-size: 1.6em;
        }
        #github {
            font-size: 1.6em;
        }
        #instagram {
            font-size: 1.6em;
        }
    }
}
