.container {
  position: absolute;
  z-index: 200;
  left: 0%;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__button {
  height: 60px;
  width: 100px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.container__button:hover {
  cursor: pointer;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.container__button--facebook {
  background: #3b5998;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container__button--linkedIn {
  background: #0072b1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container__button--github {
  background: #24292e;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container__button--instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container__button .icon {
  position: relative;
  left: 20px;
}

.container__button #facebook {
  color: white;
  font-size: 2.5em;
}

.container__button #linkedIn {
  color: white;
  font-size: 2.5em;
}

.container__button #github {
  color: white;
  font-size: 2.5em;
}

.container__button #instagram {
  color: white;
  font-size: 2.5em;
}

.link {
  position: relative;
  height: 65px;
  width: 65px;
  cursor: pointer;
  opacity: 1;
}

.popped-in {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

@-webkit-keyframes pop-in-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes pop-in-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    bottom: 3.5%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .container__button {
    -webkit-transition: none;
    transition: none;
    width: 60px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .container__button:hover {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .container .icon {
    -webkit-transition: none;
    transition: none;
    left: 0px;
  }
}
/*# sourceMappingURL=Logos.css.map */