@import "./shared/colors/colors.scss";
@import "./shared/mixins/mixins.scss";
@import "./shared/fonts/fonts.scss";

.App {
    position: relative;
    overflow: hidden;
    color: $colorTwo;
    font-family: $primaryFont;
    font-style: 'black';
    @include flex-centered(column);
}

// @keyframes move-left {
//     0% {
//         transform: translateX(100%);
//     }
//     100% {
//         transform: translateX(0%);
//     }
// }

// @keyframes move-left-out {
//     0% {
//         transform: translateX(0) rotate3d(0, 0, 0, 0deg);
//     }
//     100% {
//         transform: translateX(-100%); // rotate3d(0, -1, 0, 90deg);
//     }
// }
