.slider {
  position: relative;
  height: 26vw;
  width: 38vw;
  min-height: 280px;
  min-width: 400px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider--active {
  height: 500px;
  width: 800px;
  min-width: 800px;
}

.slider:hover {
  cursor: pointer;
}

.slider__macTabs {
  width: 100%;
  height: 20px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider__macTabs--expanded {
  height: 28px;
}

.slider__macTabs .close {
  background: #eb6666;
}

.slider__macTabs .minimize {
  background: #ffd900;
}

.slider__macTabs .maximize {
  background: #18e07c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slider__title {
  margin: auto;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  color: rgba(0, 0, 0, 0.687);
  letter-spacing: 0.1em;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider__title--visible {
  opacity: 1;
}

.slider__button {
  height: 10px;
  width: 10px;
  border-radius: 10em;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider__button--expanded {
  height: 12px;
  width: 12px;
}

.slider__button:first-child {
  margin-left: 10px;
}

.slider__img {
  position: relative;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__photos {
  position: absolute;
  width: 100%;
  height: calc(100% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider__photos .blue {
  position: absolute;
  background: #0fa8ce;
  height: 100%;
  width: 100%;
}

.slider__photos .red {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: absolute;
  background: #e25353;
  height: 100%;
  width: 100%;
}

.slider__left-panel {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 50%;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.589)), to(transparent));
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.589), transparent);
  opacity: 0;
  cursor: pointer;
}

.slider__left-panel:hover {
  opacity: 1;
}

.slider__right-panel {
  z-index: 1;
  position: absolute;
  right: 0px;
  width: 200px;
  height: 100%;
  width: 50%;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
  opacity: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.589)), to(transparent));
  background: linear-gradient(0.75turn, rgba(0, 0, 0, 0.589), transparent);
}

.slider__right-panel:hover {
  opacity: 1;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__photos-indicator {
  position: relative;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__photos-indicator--active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  margin-top: 1.8em;
  opacity: 1;
  bottom: 0px;
}

.slider__dot {
  height: 0.8em;
  width: 0.8em;
  background: rgba(255, 255, 255, 0.151);
  border-radius: 20em;
  margin: 0em .7em;
}

.slider__dot--focused {
  height: 1.2em;
  width: 1.2em;
  background: rgba(255, 255, 255, 0.418);
}
/*# sourceMappingURL=Slider.css.map */