@import "../../../../shared/mixins/mixins.scss";

.slider {
    position: relative;
    height: 26vw;
    width: 38vw;
    min-height: 280px;
    min-width: 400px;
    overflow: hidden;
    transition: all 0.3s ease;

    &--active {
        height: 500px;
        width: 800px;
        min-width: 800px;
    }

    &:hover {
        cursor: pointer;
    }

    &__macTabs {
        width: 100%;
        height: 20px;
        background: white;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        &--expanded {
            height: 28px;
        }
        .close {
            background: rgb(235, 102, 102);
        }
        .minimize {
            background: rgb(255, 217, 0);
        }
        .maximize {
            background: rgb(24, 224, 124);
            @include flex-centered(row);
        }
    }
    &__title {
        margin: auto;
        transform: translateX(-60%);
        color: rgba(0, 0, 0, 0.687);
        letter-spacing: 0.1em;
        opacity: 0;
        transition: all 0.3s ease;
        &--visible {
            opacity: 1;
        }
    }

    &__button {
        height: 10px;
        width: 10px;
        border-radius: 10em;
        margin-left: 5px;
        transition: all 0.3s ease;

        &--expanded {
            height: 12px;
            width: 12px;
        }

        &:first-child {
            margin-left: 10px;
        }
    }
    &__img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__photos {
        position: absolute;
        width: 100%;
        height: calc(100% - 10px);
        display: flex;
        transition: all 0.3s ease-in-out;

        .blue {
            position: absolute;
            background: rgb(15, 168, 206);
            height: 100%;
            width: 100%;
        }
        .red {
            transform: translateX(100%);
            position: absolute;
            background: rgb(226, 83, 83);
            height: 100%;
            width: 100%;
        }
    }
    &__left-panel {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 50%;
        transition: 0.1s all ease-in;
        background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.589), transparent);
        opacity: 0;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    &__right-panel {
        z-index: 1;
        position: absolute;
        right: 0px;
        width: 200px;
        height: 100%;
        width: 50%;
        transition: 0.1s all ease-in;
        opacity: 0;
        cursor: pointer;
        background: linear-gradient(0.75turn, rgba(0, 0, 0, 0.589), transparent);
        &:hover {
            opacity: 1;
        }
    }
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider__photos-indicator {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    &--active {

        transition: all 0.3s ease;
        position: relative;
        margin-top: 1.8em;
        opacity: 1;
        bottom: 0px;
    }
}
.slider__dot {
    height: 0.8em;
    width: 0.8em;
    background: rgba(255, 255, 255, 0.151);
    border-radius: 20em;
    margin: 0em .7em;
    &--focused {
        height: 1.2em;
        width: 1.2em;
        background: rgba(255, 255, 255, 0.418);
    }
}
